<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Truy cập bị từ chối</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   
   <body>
   
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
      
      <div class="page-title">Truy cập bị từ chối</div>
      <h3 style="color:red;">Bạn không đủ quyền để truy cập trang này!</h3>
      
      <th:block th:include="/_footer"></th:block>
      
   </body>
</html>