<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<link th:href="@{styles.css}"rel="stylesheet"/>
   <head>
      <meta charset="UTF-8">
      <title>Book Shop Online</title>
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
      
      <div class="page-title">Shopping Cart Demo</div>
      <div class="demo-container">
         <h3>Chức năng demo</h3>
         <ul>
            <li>Mua hàng online</li>
            <li>Admin pages</li>
            <li>Phản hồi</li>
         </ul>
      </div>
      
      <th:block th:include="/_footer"></th:block>
      
   </body>
</html>